<!DOCTYPE HTML>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<title>Альфа-Рыболов | О нас</title>
	<link href="{% static 'general.css' %}">
	<link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
	<div id="upper">
		<div>
			<a href="main.html">
				<img src="{{ MEDIA_URL }}/icon.png" id="upicon">
				Альфа-Рыболов
			</a>
		</div>
		<div id="links">
			<a href="main.html" class="ldis">Главная</a>
			<a href="catalog.html" class="ldis" id="lcatalog">Каталог товаров</a>
			<div id="rollout">
				<a href="catalog.html?filter='all'" class="rlinks">Все</a>
				<a href="catalog.html?filter='rods'" class="rlinks">Удочки, удилища и спиннинги</a>
				<a href="catalog.html?filter='coil'" class="rlinks">Катушки</a>
				<a href="catalog.html?filter='accs'" class="rlinks">Аксессуары</a>
				<a href="catalog.html?filter='bait'" class="rlinks">Приманки</a>
				<a href="catalog.html?filter='fibers'" class="rlinks">Лески и плетенные шнуры</a>
				<a href="catalog.html?filter='box'" class="rlinks">Хранение и переноска снастей</a>
				<a href="catalog.html?filter='???'" class="rlinks">Нечто ещё</a> <!-- я потом скачаю тз и напишу клянусь мамой --->
			</div>
			<a href="about.html" class="ldis lactive">О нас</a>
		</div>
        <a href="favs.html" id="accountlink" class="ldis"><i class="fontawesome class idk didnt implement yet"></i></a>
	</div>
	<div id="text">
		<a class="atext">Сайт разработан в 2023г. одним человеком при помощи HTML+CSS+JS и Django. Заказчиком является ИП Третьяков И. В.</a>
		<a class="btext">Что-то не так? Хотите ответа?</a>
		<a class="ctext">(функция работает только с авторизованными пользователями)</a>
		<form method="POST" name="postcard" action="about.html#">
            {% csrf_token %}
			<input type="text">
			<input type="submit" value="ААААААААААА">
		</form>
	</div>
</body>
</html>