<!DOCTYPE HTML>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<title>Альфа-Рыболов | Главная</title>
	<link href="{% static 'general.css' %}">
    <link href="{% static 'main.css' %}">
	<link rel="icon" href="{% static 'favicon.ico' %}">
    <!-- То есть это читают? Тогда, кому интересно: vercel.app -->
</head>
<body>
	<div id="upper">
		<div>
			<a href="main.html">
				<img src="{% static 'icon.png' %}" id="upicon">
				Альфа-Рыболов
			</a>
		</div>
		<div id="links">
			<a href="main.html" class="ldis lactive">Главная</a>
			<a href="catalog.html" id="lcatalog" class="ldis">Каталог товаров</a>
			<div id="rollout">
				<a href="catalog.html?filter='all'" class="rlinks">Все</a>
				<a href="catalog.html?filter='rods'" class="rlinks">Удочки, удилища и спиннинги</a>
				<a href="catalog.html?filter='coil'" class="rlinks">Катушки</a>
				<a href="catalog.html?filter='accs'" class="rlinks">Аксессуары</a>
				<a href="catalog.html?filter='bait'" class="rlinks">Приманки</a>
				<a href="catalog.html?filter='fibers'" class="rlinks">Лески и плетенные шнуры</a>
				<a href="catalog.html?filter='box'" class="rlinks">Хранение и переноска снастей</a>
				<a href="catalog.html?filter='cam'" class="rlinks">Подводные фото- и видеокамеры</a>
			</div>
			<a href="about.html" class="ldis">О нас</a>
		</div>
		<a href="favs.html" id="accountlink" class="ldis"><i class="fontawesome class idk didnt implement yet"></i></a>
	</div>
	<img src="{% static 'filler1.jpg' %}" class="filler">
	<div id="map">
		<div id="city">
			<h1 id="ctext">Здесь будет удобнее всего рыбачить</h1>
		</div>
		<iframe src="https://yandex.ru/maps/-/CCUG50sdhA" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<div id="btext">
		<a class="atext">Рыбалка - это расслабляющее для некоторых людей хобби, которое требует внимание ко множеству деталей. Здесь вы можете их учесть.</a>
		<a class="atext">В Главной вы можете выбрать место для рыбалки и перемещаться по сайту. В Каталоге товаров вы можете найти желаемый вами товар. При авторизации этот товар можно пометить желаемым и в странице своего Аккаунта их увидеть. При любых проблемах вы можете обратиться за помощью в странице О нас. Эта функция работает, если вы зарегестрированы.</a>
	</div>
</body>
</html>