<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>АльфаРыболов | Регистрация</title>
    <script src="https://kit.fontawesome.com/1dc8f46dd7.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="bottom-links">
		<a href="../">
            <i class="fa-sharp fa-solid fa-house"></i>Главная
        </a>
		<a href="../catalog">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>Каталог
        </a>
		<a href="../about">
            <i class="fa-sharp fa-solid fa-circle-info"></i>О нас
        </a>
	</div>
</body>
</html>