# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
C:/CoProjects/djAlphaRib/.idea/
C:/CoProjects/djAlphaRib/venv/